<div id="Inscription-Enfant" class="row">
    <hr />
    <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()">Ajouter un
        Enfant
    </button>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout Enfant</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="loginFormEnfant">

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Prénom">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Age">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Console">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Préférences">
                        </div>              

                    </form>

                </div>
                <div class="modal-footer">
                    <button id="buttonsubmit" type="submit" class="btn btn-primary" (click)="closePopup()">Ajouter</button>
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>