<div id="body">
    <div id="cadre">
        <img id="img-background" src="../../../assets/images/background.jpg" alt="background">
    </div>
    <app-research></app-research>
    <div class="carrousel">
        <h2 class="txt-section">3-7 Ans</h2>
        <app-carrousel></app-carrousel>
    </div>
    <div class="carrousel">
        <h2 class="txt-section">7-12 ans</h2>
        <app-carrousel></app-carrousel>
    </div>
    <div class="carrousel">
        <h2 class="txt-section">12-16 ans</h2>
        <app-carrousel></app-carrousel>
    </div>
    <div class="carrousel">
        <h2 class="txt-section">16-18 ans</h2>
        <app-carrousel></app-carrousel>
    </div>
</div>