<div id="carrousel">
    <drag-scroll>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
        <app-card drag-scroll-item></app-card>
    </drag-scroll>
</div>