<h1>Mon profil</h1>
<div class="body">


    <div class="user">
        <div class="imageUser">
            <img src="assets/images/photo-user.jpeg">
           
        </div>
        <div class="caractUser">
            <p>Prénom</p>
            <!--qui viendra de la page inscription / connexion-->
            <p>Nom</p>

            <p>Email</p>
        </div>
        <div id="deconnect">
            <button routerLink="//">Déconnexion</button>
        </div>
    </div>

    <div class="mesEnfants">
        <h2>Mes enfants</h2>
    </div>

    <!--cardEnfant-->

<app-card-enfant></app-card-enfant>

    <!--bouton ajout affichant le popup inscritpion-enfant -->
    <div class="bouton">
        <button  type="button" class="btn btn-primary" (click)="openPopup()">Ajouter
            un
            Enfant
        </button>
    </div>
</div>