<h1>Titre de la page</h1>
    <div  class="body">

        
        <div  class="user">
            <div class="imageUser">
            <img src="assets/images/photo-user.jpeg">
        </div>
        <div class="caractUser">
                    <p>Prénom</p>
                    <!--qui viendra de la page inscription / connexion-->
                    <p>Nom</p>
                
                    <p>Email</p>
        </div>
    </div>

        <!--cardEnfant-->
        <div class="cardEnfant">
            <h2>Mes enfants</h2>
            <div class="caractEnfant">
                <p> Prénom enfant</p>
                <p>Age enfant</p>
                <p>Console</p>
                <p>Genres préférés</p>
                       
            </div>


            <div>
                <!--doit contenir l'image loupe + le lien initiant la recherche de jeux-->
            </div>

            <!--carroussel-->
            <div>
                <!-- contient le carroussel de jeux de l'enfant-->
            </div>

            <!--bouton ajout affichant le popup inscritpion-enfant -->
            <div class="bouton">
                <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary"
                    (click)="openPopup()">Ajouter un
                    Enfant
                </button>
            </div>
        </div>
    </div>