.body{
    display:block;
    flex-direction: flex-start;
}
h1{
    margin-bottom: 50px;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}
img{
    width: 200px;
    height: 250px;
}
.user{
    display:flex;
}
.caractUser{
    align-items: flex-start;
}
/*.listUser{
    display:inline; 
}*/
.caractEnfant{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
}

.bouton{
    display: flex;
    justify-content: center;
}
