.body{
    display:block;
    flex-direction: flex-start;
}
h1{
    margin-bottom: 50px;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}
img{
    width: 190px;
    height: 225px;
    margin-bottom: 30px;
}
.user{
    display:flex;
    justify-content: space-evenly;
}
#deconnect{
    justify-content: flex-end;
}
.caractUser{
    align-items: flex-start;
}
/*.listUser{
    display:inline; 
}*/


.bouton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mesEnfants{

    display: flex;
    justify-content: center;
}
