.body{
    display:block;
    flex-direction: flex-start;
}
h1{
    margin-bottom: 50px;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}
img{
    width: 165px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.user{
    display:flex;
    justify-content: space-evenly;
}
#deconnect{
    justify-content: flex-end;
}
.caractUser{
    align-items: flex-start;
}
/*.listUser{
    display:inline; 
}*/


.bouton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
   
}
.noms{
    display: flex;
    
   
}
.noms>p{
    margin-right: 30px;
    
}
app-carrousel-avis{
    width: 100%;

}

.mesEnfants{

    display: flex;
    justify-content: center;
}
.form-group {
    margin-bottom: 10px;
  
  }

.mesavis{
    display: flex;
    justify-content: center;
}