<div id="body">
    <!--User-->
    <div id="user">
        <img id="img-user" src="assets/images/wii-sport.jpg" alt="user">
        <h2 id="name">Wii Sport</h2>
    </div>
    <!--Notation etoile-->
    <div id="rating">

    </div>
    <!--Commentaires-->
    <div id="com">
        <div id="commentaireparent">
            <h3>Mon avis</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, expedita nemo deleniti nihil commodi
                ducimus suscipit corporis.</p>
        </div>
        <div id="commentaireenfant">
            <h3>Avis de mon enfant</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, expedita nemo deleniti nihil commodi
                ducimus suscipit corporis.</p>
        </div>
    </div>
</div>