<header class="header">

    <nav id="gauche">


        <li>
            <img src="./assets/images/Vector.png">
        </li>
        <li>
            <span id="title-logo"> JeuxRecherche</span>
        </li>
        <li>
            <a href="lien.html" class="Home"> Accueil </a>
        </li>
        <li>
            <a href="index.html" class="Home"> Blog </a>
        </li>
        <li>
            <a href="index.html" class="Home"> A propos </a>
        </li>

    </nav>

    <nav id="droite">
        <!--mettre le ng if a partir d'ici ???-->
        <li>
            <button id="butheadinscription">Inscription</button>
            <!--<a [routerLink]=["inscription"]>Inscription</a>-->
        </li>
        <li>
            <button id="butheadconnexion">Connexion</button>
        </li>

    </nav>

</header>

<router-outlet></router-outlet>

<div class="footer">

    <ul class="footer_pages">

        <li><a href="LIEN URL">Back to site</a></li>

        <li><a title="View C.G.V." href="LIEN CGV">C.G.V.</a></li>

        <li><a title="View Mentions Légales &amp; Politique de Confidentialité" href="LIEN MENTIONS LEGALES">Mentions
                Légales & Politique de Confidentialité</a></li>

        <li><a href="LIEN CONTACT">Contact</a></li>
    </ul>

</div>