<header>
    
    <nav id="gauche" >
        
         
         <li >
            <img src="./assets/images/Vector.png">
        </li>
        <li>
            <span id="title-logo"> JeuxRecherche</span>
        </li>
        <li >
            <a href="lien.html" class="Home"> Accueil </a>
        </li>
        <li>
            <a href="index.html" class="Home"> Blog </a>
        </li>
        <li >
            <a href="index.html" class="Home"> A propos </a>
        </li>

    </nav>

<nav id="droite">
    <!--mettre le ng if a partir d'ici ???-->
 <li >
     <button id="butheadinscription">Inscription</button>
 </li>
 <li>
    <button id="butheadconnexion">Connexion</button>
 </li>

 </nav>

</header>




<router-outlet></router-outlet>
