<div id="body">
    <div id="txt-tab">
        <input type="text" placeholder="Rechercher un jeu...">
        <img src="" alt="">
    </div>

    <div id="filters">
        <select name="age" id="select-age">
            <option value="">Age...</option>
        </select>
        <select name="platform" id="select-platform" >
            <option value="">Plateforme</option>
        </select>
        <select name="genre" id="select-genre">
            <option value="">Type de jeu</option>
        </select>
    </div>

    <div id="btn">
        <button id="reset">Réinitialiser</button>
        <button id="research">Rechercher</button>
    </div>
</div>
