<div id="body">
    <div id="txt-tab">
        <input id="txt-research" type="text" placeholder="Rechercher un jeu...">
        <img id="loupe" src="assets/images/loupe.png" alt="loupe.png">
    </div>

    <div id="filters">
        <select name="age" id="select-age" class="select">
            <option value="">Age...</option>
        </select>
        <select name="platform" id="select-platform" class="select">
            <option value="">Plateforme</option>
        </select>
        <select name="genre" id="select-genre" class="select">
            <option value="">Type de jeu</option>
        </select>
    </div>

    <div id="btn">
        <button id="reset">Réinitialiser</button>
        <button id="research">Rechercher</button>
    </div>
</div>
