<h1>Présentation de notre idée</h1>
<div class="corps">
    <div class="image">
        <img src="assets/images/propos.jpg">
    </div>
    <div class="text">
        <p>Choisir un jeu vidéo adapté à son enfant peut s'avérer être un véritable casse-tête pour les parents ..
            <br><br>
            Quel contenu choisir ? Risque-t-il d'être trop violent ? Ou au contraire trop ennuyant ? Poussera-t-il ma
            progéniture à se servir de ses méninges ? Ou fera-t-il de lui le futur gestionnaire d'un empire millénaire ?
            
        </p>
        <p>
            Il est vrai que l'on peut vite s'y perdre lorsque l'on voit la multitude de choix et de références qui
            structurent le monde du jeu vidéo. Après de nombreuses tentatives de tomber sur les jeux les plus
            pédagogiques pour nos bout'choux, notre team s'est donc lancée dans le projet d'établir un véritable
            comparateur de jeux vidéos destinés aux parents un peu paumés, qui se basent sur de nombreux critères afin
            d'êtr sûr de trouver bonne chaussure à son pied. <br><br>
            Votre petit Enzo est plus branché Action et batailles historiques, ou au contraire l'aventure et
            l'exploration dans un monde totalement ouvert ? Sa plateforme de jeux est une console de salon ou bien un
            ordinateur fixe ? A-t-il du mal avec des contenus à destination des plus grands, ou vous préféreriez qu'il
            se cantonne à des jeux conçus pour des enfants de son âge ? <br><br>
            Nous sommes bien contents que ce dernier critère vous ait tapé dans l'oeil car c'et là tout l'intérêt de
            JeuxRecherche ! Grâce à sa base comparative, JeuxRecherche est LE site qu'il vous faut !


        </p>
    </div>
</div>