<div class="cardEnfant">

    <div class="caractEnfant">
        <div class="pEnfant">

            <p>Prénom enfant</p>
            <p>Age enfant</p>
            <p>Console</p>
            <p>Genres préférés</p>


        </div>
        <div class="rechJeu">
            <img class="item" src="assets/images/loupe.png">
            <input class="item" type="text" id="name" name="name" placeholder="Rechercher un jeu">
            <button class="item" style="padding: 10px; background-color: #820EB9;color: white; border-radius: 5px; border: none;" routerLink="/recherche/">Rechercher</button>
        </div>
    </div>

    <div>
        <!-- contient le carroussel de jeux de l'enfant-->
        <app-carrousel></app-carrousel>
    </div>
    <div class="retirer">
    <button style="margin: 10px; padding: 10px; background-color: #820EB9; border: none;" type="button"
        class="btn btn-primary">Retirer l'Enfant
    </button>
</div>
</div>
