<div class="cardEnfant">

    <div class="caractEnfant">
        <div class="pEnfant">
           
            <p>Prénom enfant</p> 
           <p>Age enfant</p>
           <p>Console</p>
            <p>Genres préférés</p>
           
       
        </div>
        <div class="rechJeu">
            <img src="assets/images/loupe.png">

            <input type="text" id="name" name="name" placeholder="Rechercher un jeu">
        </div>
    </div>

    <div>
        <!-- contient le carroussel de jeux de l'enfant-->
        <app-carrousel></app-carrousel>
    </div>