<div class="body">
    <h1>BLOG</h1>

    <h2>Jeux vidéo : qu'est-ce que le classement PEGI ?</h2>

    <p>Tous les jeux vidéo doivent comporter des logos. C'est ce qu'on appelle le classement PEGI : <br>
      <p>  PEGI : Pan European</p>
        Game
        Information.

        <p> Ce classement se compose de 2 séries de logo : </p><br>
<ol> <li>

        <p>La 1re indique à l'aide d'un chiffre l'âge minimal du joueur;</p> </li>
        <li>
        <p>La 2e indique à l'aide d'une image et d'un mot le type de contenu (par exemple, contenu violent ou choquant). </p> </li> <br>
    </ol>

        <p> C'est au fabricant du jeu de décider de la catégorie à laquelle appartient son </p><br>

        <p>Tous les jeux vidéo sont concernés, qu'ils soient vendus sur support physique ou en téléchargement.</p> <br>

        <p> Les logos doivent alors être visibles sur la page permettant de télécharger le jeu.</p><br>
    <h2>Logos avec chiffre : âge minimal du joueur</h2>
    <div class="pegiGlobal">
        <div class="pegi">
            <img src="assets/images/pegi3.png">
            <p> Le jeu peut être utilisé par tout enfant quel que soit son âge. Il ne comporte ni images effrayantes, ni
                langage
                grossier.</p>
        </div>
        <div class="pegi">
            <img src="assets/images/pegi7.png">
            <p> Le jeu est destiné aux enfants de plus de 7 ans. Il comporte des scènes effrayantes pour les très jeunes
                enfants.
        </div>
        <div class="pegi">
            <img src="assets/images/pegi12.png">
            <p> Le jeu est interdit aux moins de 12 ans. Il comporte des scènes pouvant choquer les plus jeunes (nudité,
                violence, par exemple) et/ou comporter un langage légèrement grossier (mais pas d'insultes à caractère
                sexuel).
            </p>
        </div>
        <div class="pegi">
            <img src="assets/images/pegi16.png">
            <p>Le jeu est interdit aux moins de 16 ans. Il comporte des scènes de grande violence et à caractère sexuel,
                ou un
                langage fortement grossier, ou des séquences montrant l'usage de tabacs et stupéfiants.</p>
        </div>
        <div class="pegi">
            <img src="assets/images/pegi18.png">
            <p>Le jeu est interdit aux moins de 18 ans. Il comporte des scènes de violence particulièrement explicites
                et
                réalistes.
            </p>
        </div>
    </div>
</div>